header nav a:hover{
  animation: navAnime .4s;
  animation: navAnime2 .4s;
  
}
@keyframes navAnime{
  0% {transform: translateY(0);}
  15% {transform: translateY(4px);}

}
@keyframes navAnime2{
  0% { box-shadow:0px 0px black;}
  3% { box-shadow:0px 0px black;}
  33% { box-shadow:0px 4px #F87B99;}
  30% {transform: translateY(-7px);}
  100% {transform: translateY(0);}
}
*{
  color:#3c373b;
}


h1{
  font-family: 'Gaegu', cursive;
  margin: 20px 0;
  font-size: 60px;
}

h2, h3{
  font-family: 'Gaegu', cursive;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 30px;
}


p{
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4;
  float: 
}

img{
  border-radius:10px;
}

.content-row{
  display: flex;
  border-radius:10px;
}
.content-row:hover{
  background:#F87B99;
  transition:1s;
}

.content-row div{
  margin:20px;
}

.container{
  width:600px;
  margin: 0 auto;
}

.container header nav a{
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  background-color:#F87B99
}

.container header nav a:hover{
  background-color:white;
  color:pink;
}

.wedding{
  margin-top:20px;
}


footer{
  width: 100%;
  background: #F87B99;
  border-top: 1px dashed white;
}

footer .footer-content{ 
  margin: 0 auto;
  width:600px;
  
}

footer .footer-content h3{
  padding: 0;
  margin: 20px 0;
}

footer nav{
  display: flex;
  align:center
}

footer a{
  margin: 10px;
  color: black;
  text-decoration: underline;
}


footer nav a:first-child {
  margin-left: 0;
}

footer nav a:hover{
  color:white;
}

footer .footer-content .copyright {
  padding: 20px 0;
  text-align:center;
}
.bodyimg{
  width:300px;
}
.bodyimg.img2{
  width:280px;
  float:right;
  margin:2px;
  
}
.container header nav a:active{
  border radius 20px;
  box-shadow:0px -1px black;
  transform: translateY(1)
}